
@media (max-width: 576px) {
    body::after{
        content: 'XS';
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    body::after{
        content: 'SM';
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    body::after{
        content: 'MD';
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    body::after{
        content: 'LG';
    } 
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    body::after{
        content: 'XL';
    } 
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    body::after{
        content: 'XXL';
    } 
}

.box{
    background-color: pink;
    border: 1px solid red;
    min-height: 2rem;
    font-size: 2rem;
}